<div class="card">
    <div class="card-body"></div>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem eligendi eveniet, saepe, quis totam numquam culpa expedita odit exercitationem cum quo ullam esse omnis eos voluptas, perferendis autem ea. Minus!</p>
</div> 