<div class="mt-4 p-5 bg-light text-black rounded">
    <h1 class="display-4">Notes App Node JS</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam perspiciatis quae atque accusamus nobis fugit autem hic, rerum incidunt nesciunt, a enim temporibus expedita in ratione itaque quam laboriosam quos?</p>
    <a href="http://kerro.com" class="btn btn-primary btn-lg">WebKerro</a>
</div>